
 body{
    background-image: linear-gradient( rgb(0, 0, 0),black,rgba(15, 15, 15, 0.904),rgba(1, 51, 51, 0.842),black);
    color: white;
    height: 100vh;
    
}
input{
    height: 60px;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    font-size: 1.6em;
    border: none;
    outline: none;
    box-shadow: 2px 3px 12px rgb(255, 249, 249,0.6),
    2px 3px 12px rgb(255, 249, 249,0.2);
}
h1{
    color: rgb(255, 249, 249);
}
@media(max-width: 600){
    input{
        font-size: 18px;
    }
}

a{
    background-color: rgb(69, 69, 245);
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    
}
a:hover{
    background-color: rgb(69, 69, 245);
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

button{
    background-color: lightskyblue;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.active{
    background-color: lightgreen;
}
