
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <ul >
        <li class="navigation">
            <a href="/">Home</a>  
        </li>
        <li class="navigation"><a href="/about">About</a></li>
        <li class="navigation"><a href="/login">Login</a></li>
        <li class="navigation"><a href="/profile/name">Profile</a></li>
    </ul>
</body>
</html>