
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("common/Navigation")-%>
    <h1>Login page</h1>
    <form method="POST">
        <input type="text" name="email"/><br/>
        <input type="password" name="password"/><br/>
        <input type="submit"/>
    </form>
</body>
</html>